* {
  box-sizing: border-box;
}

body {
  font-family: "consolas",
  sans-serif; 
  font-size: 20px;
  color:black;
  background-color: darkslateblue;
  text-align: center;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px 10px;
  transition: 0.4s;
  background-color: orange; 
}

nav a {
  font-size: 16px;
  padding-right: 5px;
}

header {
  margin-top: 120px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 6% 0;
  background-color: white;
}

h1 {
  margin: 20px;
}

h2, h4 {
  margin: 10px;
}

section {
  border: solid;
  border-color: white;
  padding: 10px;
  background-color: white;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

p {
  margin: 10px;
}

.face {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 8px;
}

.quiz-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 8px;
}

p.project-links {
  display: inline-block;
}

.about-me {
  font-weight: bold;
}

.about-work {
  font-weight: bold;
}

.project-title {
  font-size: 22px;
}

footer {
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 1% 0;
  background-color: white;
}

address {
  font-style: normal;
}

@media only screen and (min-width: 600px) {
  .face {
    width: 30%;
  }
}

@media only screen and (min-width: 1000px) {
  #navbar {
    display: inline-block;
  }

  .headline {
    text-align: left;
    position: absolute;
  }

  .nav-links {
    text-align: right;
    position: relative;
  }
  header {
    margin-top: 80px;
    margin-left: 45px;
    margin-right: 45px;
    border: solid;
    border-color:orange;
    padding: 10px;
  }

  section {
    margin-left: 45px;
    margin-right: 45px;
    border: solid;
    border-color:orange;
    padding: 10px;
  }

  .bio-header {
    border: solid;
    border-color:orange;
  }
  
  .bio-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid;
    border-color:orange;
    background-color: white;
    margin: 20px;
  }
  
  .face {
    width: 20%;
    margin: 0;
  }

  .about-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  footer {
    border: solid;
    border-color: orange;
    margin-left: 45px;
    margin-right: 45px;
  }
}