/*mobile view*/

/* * {
  box-sizing: border-box;
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "futura",
  sans-serif;
  font-size: 20px;
  color:black;
  background-color: black;
  text-align: center;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar {
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px 10px;
  transition: 0.4s;
  background-color: #7DB5A9;
  border: 5px solid #7DB5A9;
  border-radius: 8px;
}

nav a {
  font-size: 16px;
  padding-right: 5px;
}

header {
  margin-top: 120px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  background-color: white;
  border: 5px solid white;
  border-radius: 8px;
}

h1 {
  margin: 20px;
}

h2, h3 {
  margin: 10px;
}

section {
  position: relative;
  background-color: white;
  border: 5px solid white;
  border-radius: 8px;
  padding: 10px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

#About, #Projects {
  position: absolute;
  top: -50px;
}

.skills-box {
  display: flex;
  align-self: start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: #7DB5A9;
  margin-bottom: 10px;
}

.skills-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background color: white;
}

.icon {
  width: 1.75em;
  height: 1.75em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin: 10px;
}

p {
  margin: 10px;
}

.face {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 8px;
}

.quiz-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 8px;
}

.wordInspo-pic {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 8px;
}

p.project-links {
  display: inline-block;
}

.about-me {
  font-weight: bold;
}

.project-title {
  font-size: 22px;
}

footer {
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 1% 0;
  background-color: white;
}

address {
  font-style: normal;
}

/* desktop view */
@media screen and (min-width: 600px) {
  .face {
    width: 30%;
  }

  #navbar {
    display: inline-block;
  }

  .headline {
    text-align: left;
    position: absolute;
  }

  .nav-links {
    text-align: right;
    position: relative;
  }

  header {
    margin-top: 90px;
    margin-left: 45px;
    margin-right: 45px;
    padding: 10px;
  }

  section {
    margin-left: 45px;
    margin-right: 45px;
    padding: 10px;
  }

   #Skills, #Projects {
    position: absolute;
    top: -50px;
  }

  .about-header {
    border: solid;
    border-color: #7DB5A9;
  }

  .about-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid;
    border-color: #7DB5A9;
    background-color: white;
    margin: 20px;
  }

  .face {
    width: 20%;
    margin: 0;
  }

  footer {
    border: solid;
    border-color: orange;
    margin-left: 45px;
    margin-right: 45px;
  }
}
